@media (min-width: 320px) and (max-width: 480px) {
  #app {
    position: relative;
  }

  #map-container {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  .popup__container {
    left: 0 !important;
  }

  .interface-container {
    height: 100%;
    /* width: 100%; */
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    transition: left 0.3s ease;
  }

  .interface-container.closed {
    left: -288px;
  }
}
